absl-py==2.2.2
accelerate==1.4.0
datasets==3.2.0
diffusers==0.18.0
huggingface-hub==0.25.2
numpy==1.24.2
omegaconf==2.3.0
pandas==2.2.3
Pillow==9.5.0
pyarrow==18.1.0
pycocotools==2.0.8
scikit-learn==1.6.1
scipy==1.15.1
tensorboardX==2.1
torch==2.0.0
torchmetrics==1.7.1
torchvision==0.15.1
tqdm==4.67.1
transformers==4.28.1
